@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

/* contenedor que envuelve todo */
.container {
    display: flex;
}

/* columna izquierda */
aside {
    width: 20%;
    min-height: 100vh;
    border-right: 2px solid #bec1bb;
}

/* contenderos padre de avatar y icons */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16); 
}

header .avatar {
    padding: 20px;
    display: flex;
    align-items: center;
}

header .avatar img {
    width: 100%;
    max-width: 40px;
    border-radius: 50%;
}

.info-avatar h5 {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    color:#444749;
    font-weight: 400;
}

.info-avatar small {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    color:#828485;
}

header .icons {
    padding: 20px;
    color:#bec1bb;
    font-size: 20px;
}

.icons i {
    padding: 0 5px;
}

.boton-chat {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border:0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}

.boton-chat button {
    background-color:#a491d2;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    border:0;
    padding: 10px 20px;
}

.boton-chat button:hover {
    background-color: #cdc3e6;
    cursor:pointer;
}

/* contenedor padre de img-avatar y nombres */
.contactos {
    display: flex;
    flex-direction: column;
}

.contactos .img-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bec1bb;
}

.contactos img {
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
    margin: 10px 10px;
}

.nombres figcaption {
    font-family: 'Roboto', sans-serif;
    color:#444749;
    font-weight: 300;
}

.nombres small {
    font-family: 'Open Sans', sans-serif;
    color:#444749;
}

/* columna derecha */
main {
    width: 80%;
    background-color: #e8ebe4;
    display: flex;
    flex-direction: column;/* Cuando cambiamos de eje horizontal a vertical con flex-direction:column; la propiedad align-items pasa a ser el eje horizontal y la propiedad justify-content el eje vertical */
    justify-content: center;
    align-items: center;
}

main img {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}

main h1 {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3em;
}

main p {
    font-family: 'Open Sans',sans-serif;
}